<!DOCTYPE html>
<title>Register</title>
<link rel="stylesheet" href="/static/style.css">
<body class="auth-page">
    <div class="auth-box">
        <h2>New Agent Registration</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Pick Username" required>
            <input type="password" name="password" placeholder="Pick Password" required>
            <button type="submit">Register</button>
        </form>
        <p><a href="/login">Back to Login</a></p>
    </div>
</body>
